*.iml
.gradle
/local.properties
/build
/captures
.externalNativeBuild
.idea/
.svn/
gradle/

/android/
/trunk/
/xrichtext/trunk/
/app/build
/xrichtext/build
/app/release
/app/src/main/gen/
/xrichtext/app/src/main/gen/
/xrichtext/src/main/gen/
/jiaozivideoplayer/build
/resourceLib/build
